/* Enter your custom styles here */
.myCustomStyle {
    color: red;
}

;

.customTableHeader {
    background-color: red;
    color: white;
}

;

.customColumnStyle {
    background-color: yellow;
    font-weight: bold;
}

;